<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/tx
							http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
							http://www.springframework.org/schema/jdbc
							http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/task
							http://www.springframework.org/schema/task/spring-task-4.2.xsd">
	
	<!-- 
		简化Spring配置
		一次性向Spring容器注册4个BeanPostProcessor
			AutowiredAnnotationBeanPostProcessor				管理 @Autowired注解
			CommonAnnotationBeanPostProcessor					管理@Resource、@PostConstruct、@PreDestroy注解
			PersistenceAnnotationBeanPostProcessor				管理@PersistenceContext注解
			RequiredAnnotationBeanPostProcessor					管理@Required注解
	 -->
	 <!-- 
	<context:annotation-config />
	 -->
	
	<!-- 
		配置扫描器信息，扫描指定包下面的类文件 
		扫描器中Spring隐式的执行了  <context:annotation-config /> 操作
	-->

	<!-- 扫描注册Dao信息 -->
	<context:component-scan base-package="org.jumutang.project.*.dao.impl" />
	<context:component-scan base-package="org.jumutang.project.*.*.dao.impl" />
	<!-- 扫描注册Service信息 -->
	<context:component-scan base-package="org.jumutang.project.*.service.impl" />
	<context:component-scan base-package="org.jumutang.project.*.*.service.impl" />
	
	<!-- 注入properties配置信息 -->
	<bean id="propertyFactoryBean"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:conf/deve/jdbc.properties</value>
				<value>classpath:conf/deve/common.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="propertyFactoryBean"></property>
    </bean>
	
	<!-- 配置数据源 -->
	<bean id="basicDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="maxActive" value="${db.maxActive}" />
		<property name="maxIdle" value="${db.maxIdle}" />
		<property name="maxWait" value="${db.maxWait}" />
		<property name="minIdle" value="${db.minIdle}" />
		<property name="defaultAutoCommit" value="${db.defaultAutoCommit}" />
		<property name="validationQuery" value="${db.validationQuery}" />
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="dataSourceTransactionManager" 
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="basicDataSource" />
	</bean>
	
	<!-- 对@Transactional这个注解进行的驱动 -->
	<tx:annotation-driven transaction-manager="dataSourceTransactionManager" />
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="basicDataSource" />
	</bean> 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="maxUploadSize" value="104857600"/>         
        <property name="maxInMemorySize" value="4096"/> 
    </bean> 

    <bean id="sysMsgService" class="org.jumutang.project.weixinMng.mallMng.service.impl.SysMsgServiceImpl">
	</bean>
	
	<bean id="gameOneService" class="org.jumutang.project.weixinMng.gameOne.service.impl.GameOneServiceImpl">
	</bean>

	<bean id="gameTwoService" class="org.jumutang.project.weixinMng.gameTwo.service.impl.GameTwoServiceImpl">
	</bean>
	

	<bean id="springContextHolder" class="org.jumutang.project.tools.SpringContextHolder">
	</bean>
    <import resource="classpath:spring-task.xml"/>



</beans>